/* Additional Styling */
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Styles for links in the footer */
footer a {
    color: #0073e6;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Styles for images */
img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

/* Styles for article containers */
article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for social media links */
ul.social-links {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 20px;
}

ul.social-links li {
    display: inline;
    margin-right: 10px;
}

ul.social-links li a {
    color: #0073e6;
    text-decoration: none;
    font-size: 20px;
}

/* Styles for privacy statement link */
.privacy-link {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

.privacy-link:hover {
    text-decoration: underline;
}

/* Hover effect for all h tags */
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    color: #ff6600; /* Change the color on hover to your desired color */
}

/* Add bullet points before h tags */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    content: '\2022'; /* Unicode bullet character */
    color: #0073e6;
    margin-right: 5px;
}

/* Styling for the logo and site name */
.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.site-logo {
    max-width: 80px; /* Adjust the logo size as needed */
    margin-right: 20px; /* Adjust the spacing between the logo and site name */
}

.site-name {
    font-size: 36px;
    color: #333;
}
/* Use media query for smaller screens */
@media screen and (max-width: 960px) and (orientation: portrait) {
    .contact-info {
        flex-direction: column;
        text-align: center;
    }
}